<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Clash of Clan Dashboard</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Clash of Clan Dashboard</h1>
        {% if msgs %}
        <p>{{_('clan name')}}: {{msgs.name}}</p>
        <p>{{_('members')}}: {{msgs.members}}</p>
        <p>{{_('required trophies')}}: {{msgs.requiredTrophies}}<p>
        <p>{{_('tag')}}: {{msgs.tag}}</p>
        <p>{{_('war frequency')}}: {{_(msgs.warFrequency)}}</p>
        <p>{{_('war win streak')}}: {{msgs.warWinStreak}}</p>
        <p>{{_('war wins')}}: {{msgs.warWins}}</p>
        <p><img src="{{msgs.badgeUrls.small}}"></p>
        <p>{{_('clan level')}}: {{msgs.clanLevel}}</p>
        <p>{{_('clan points')}}: {{msgs.clanPoints}}</p>
        <p>{{_('clan description')}}: {{msgs.description}}</p>
        <p>{{_('is war log public')}}: {{msgs.isWarLogPublic}}</p>
        <p>{{_('location')}}: {{msgs.location.name}}</p>
        <p>

        <table>
          <tr>
            <th>{{_('tag')}}</th>
            <th>{{_('name')}}</th>
            <th>{{_('role')}}</th>
            <th>{{_('clanRank')}}</th>
            <th>{{_('previousClanRank')}}</th>
            <th>{{_('donations')}}</th>
            <th>{{_('donationsReceived')}}</th>
            <th>{{_('expLevel')}}</th>
            <th>{{_('league')}}</th>
            <th>{{_('trophies')}}</th>
          </tr>
          {% for member in msgs.memberList %}
          <tr>
            <td>{{member.tag}}</td>
            <td>{{member.name}}</td>
            <td>{{_(member.role)}}</td>
            <td>{{member.clanRank}}</td>
            <td>{{member.previousClanRank}}</td>
            <td>{{member.donations}}</td>
            <td>{{member.donationsReceived}}</td>
            <td>{{member.expLevel}}</td>
            <td><img src="{{member.league.iconUrls.tiny}}"> {{_(member.league.name)}}</td>
            <td>{{member.trophies}}</td>
          </tr>
          {% endfor%}
        </table>
        {% endif %}
      </div>
    </div>
  </body>
</html>
